/*Форма футера*/
.footer-form {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.foot-input {
  height: 50px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

  color: $primary-bg-color;
  font-size: 16px;
  line-height: 20px;

  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  align-items: center;
  background-color: transparent;
}
.footer-box {
  text-align: center;
  display: block;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.footer-field ::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.footer-telegram {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}
/* Кнопка внутри модального окна*/
.footer-submit {
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: $primary-bg-color;
  background-color: $accent-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Иконки внутри форм-оформление*/
.footer-info {
  position: absolute;
  bottom: 14px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill $transition;
  fill: $logo-color;
}
.form-field {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  transition: 250ms $transition;
  outline: transparent;

  & .input:focus {
    border: 1px solid $accent-color;
    outline: inherit;
    border-radius: 4px;
  }
}
.input {
  cursor: pointer;
  transition: border $transition, outline $transition;
  padding-right: 0px 8px 0px 8px;
}

.comment-field textarea:focus {
  border: 1px solid $accent-color;
  outline: inherit;
  border-radius: 4px;
}
.input:focus + .footer-info {
  fill: $accent-color;
}

.checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 2px solid $logo-color;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-origin: border-box;

  transition: border $transition, background-color $transition;
}
.checkbox:checked + span::before {
  background-color: $accent-color;
  border-color: $accent-color;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
